VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_GOOGLE_CSE_KEY_ALUMNI=
VITE_GOOGLE_CSE_CX_ALUMNI=
VITE_GOOGLE_CSE_KEY_NEWS=
VITE_GOOGLE_CSE_CX_NEWS=
VITE_GOOGLE_CSE_KEY_PROJECTS=
VITE_GOOGLE_CSE_CX_PROJECTS=
VITE_GOOGLE_CSE_KEY_ANNOUNCEMENTS=
VITE_GOOGLE_CSE_CX_ANNOUNCEMENTS=
VITE_GOOGLE_CSE_KEY_GITHUB=
VITE_GOOGLE_CSE_CX_GITHUB=
VITE_GOOGLE_CSE_KEY_LINKEDIN=
VITE_GOOGLE_CSE_CX_LINKEDIN=
VITE_GOOGLE_GENAI_KEY=
VITE_PERPLEXITY_API_KEY=
VITE_PERPLEXITY_MODEL=
VITE_ADMIN_EMAIL_1=
VITE_ADMIN_PASSWORD_1=
VITE_ADMIN_EMAIL_2=
VITE_ADMIN_PASSWORD_2=
